* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #c51a2d;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
}

header{
    background: #ffffff;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 1rem;
    text-align: right;

}

header a{
    color: #c51a2d;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover{
    opacity: 60%; /* toda vez que o usuário passar o mouse por cima do link, ele fica um pouco transparente */
}

main{
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.cadastro{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

main h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

main p{
    margin-bottom: 30px;
    opacity: 0.9;
}

form{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-group{
    text-align: left;
}

label{
    margin-top: 5%;
    text-align: left;
    font-size:large;
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type = "date"],
input[type = "text"],
input[type = "email"],
input[type = "password"]{
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
}

input::placeholder{
    color: #eee;
}

input::focus{
    outline: none;
    border-color: #fff;
}
input[type = "button"],
button{
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

button:hover{
    background-color: #babde7;
    color: #fff;
}

.form-group .material-symbols-outlined {
    margin-right: 8px; /* Adiciona um espaço à direita do ícone */
    font-size: 1.2em; /* Deixa o ícone um pouco maior que o texto*/
}